

.row{
    margin-left: 20px ;
    color: #fff;  
    
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 18px; 
    scrollbar-width: none;
        
}
/*scrollbar hidden-> firfox^,chrome */
.posters::-webkit-scrollbar{
    display: none;
}



.img-large{  
    margin-right: 7px;
    object-fit: contain;
    transition: transform 450ms;
    max-height: 250px;
}
.img-large:hover{
    transform: scale(1.07);
    opacity: 1;
}



@media screen and (max-width:890px) {
    .img-large{
        max-height: 180px;
        margin-right: 3px;
    }

}
