.view-title{
    display: block;
    position: relative;
    padding-top: 40px;
    margin-left: auto;
    width: auto;
}
.view-title-header{
    padding: 5%;
    margin: auto;
}
.view-title-container{
    padding: 0 10px;
    margin: auto;
    max-width: 1200px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(5,20%) 
}
.view-title-container div{
    position: relative;
    cursor: pointer;
    max-width: max-content;
    flex-basis: 20%;
    padding: 3% 4%;
}
.skl-init{
    margin: auto;
    height: 80vh;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5,20%) 
}
.loading-outer{
    padding: 6%;
    max-width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    margin: auto;
}
.loading p{
    /* transform: rotate(); */
    /* transform: rotate('360'); */
    transform: rotate('3600deg');
}

@media screen and (max-width:890px) {
    .view-title-container{
        margin: 0;
        justify-content: space-around;
        grid-template-columns: repeat(3,20%);
    }
    .view-title-container div{
        padding: 6% 
    }
}