.view-title{
    display: block;
    position: relative;
    padding-top: 40px;
    margin-left: auto;
    width: auto;
}
.view-title-header{
    padding: 5%;
    margin: auto;
}
.view-title-container{
    padding: 0 10px;
    margin: auto;
    max-width: 1200px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(5,20%) 
}
.view-title-container div{
    /* position: relative; */
    /* cursor: pointer; */
    /* max-width: max-content;
    flex-basis: 20%; */
}

.skl-load-grid{
    width: 100%;
    display: grid;
    margin: auto;
    /* justify-items: center; */
    grid-template-columns: repeat(5,20%) ;
    padding: 0 10px;

}
.card-view{
    width: 150px;
}
.card-view p{
    overflow: hidden;
    height: min-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9rem;
    margin: 5% 0;


}
.card-view div{
    padding: 3% 4%;

}
.loading-outer{
    margin: auto;
}
.loading{
    margin: auto;
}
.loading p{
    /* transform: rotate(); */
    /* transform: rotate('360'); */
    transform: rotate('3600deg');
}

@media screen and (max-width:890px) {
    .view-title-container{
        margin: 0;
        justify-content: space-around;
        grid-template-columns: repeat(3,20%);
    }
    .view-title-container div{
    }
    .card-view div{
        padding: 0 6% 

    }
    .card-poster{
        width: 150px;

    }
    .card-view p{
        font-size: .8rem;
    }
}
@media screen and (max-width:500px) {
    .view-title-container{
        grid-template-columns: repeat(2,50%);
    }
    .card-poster{
        width: 150px;
    }
}