.season-container{
    color: #fff;
    padding: 0px 100px 50px 100px;
    text-align: center;
}
.season-number{
    padding: 30px;
    display: inline-block;
    text-align: center;
}
.season-number p{
    display: inline;
    background-color: transparent;
    min-width: 80px;
    padding: 10px;
    text-align: center;
}
.season-number button{
    padding: 10px;
    background-color: rgba(151, 146, 146, 0.014);
    color: #fff;
    border: none;
    cursor: pointer;
}
.episode-container{
    padding: 40px;
    display: flex;
        
}

.sno-poster{
    width:40%;
    text-align: center;
}
.sno-poster img{
    color:#fff;
    background-attachment:fixed;
    width: 300px;
    background-color:#121212c0;
    background-blend-mode:multiply;
    background-image: linear-gradient(180deg,transparent,rgba(20, 20, 20, 0.849),#111)
}
.ep-n{ 
    width: 500px;
    height:500px;
    padding-left: 30px;
    padding-top: 10px;
    color:#fff;
    position: relative;
    overflow-y: auto;

}
.ep{
    width:400px;
    
    
    
}
.ep img{
    border: 2px solid;
    width: 200px;
}

