.nav{
    position: fixed;
    top:0;
    width:100%;
    height: 40px;
    padding: 20px 0;
    z-index: 98;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav_black{
    background-color: #151515;
}
.nav_content{
    margin-top: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;

}

.logo-outer{
    cursor: pointer;
    text-align: center;
    position:fixed;
    display: flex;
    flex-direction: row;
    left:50px;
    width:90px;
    color: #fff;
    transition: transform 150ms ease;

}
.logo-outer p{
  letter-spacing: .1rem;
  padding-top: 18%;
  font-family: 'Bebas Neue', cursive;
  font-weight: bolder;
  font-size: 1.5rem;


}
.logo-main{
  font-size: 50px;
  margin-right: 6px;
  min-width: 50px;
}
.search-box{
    display: flex;
    position: fixed;
    right: 0;
    margin-right: 60px;
    /* width: fit-content; */
    height: 100%;
    height: fit-content;
    cursor: pointer;
    text-align: center;

   
  }
  .search{
    /* display:flex */
  }
  .search-box:focus{
    cursor: none;
  }
  .input-search{
    height:20px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    background-color:transparent;
    border-style: none;
    color: #fff;
    padding: 1%;
    width: 200px;
    border-radius: 0px;
    border-bottom:1px solid rgba(255, 255, 255, 0.39);
    /* transform: translateX(-35px) */
  }
  .btn-search{
    
    text-align: center;
    margin-left: 6px;
    height:25px;
    width: 30px;
    border-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    /* position: absolute; */
    right: 0;
    color:#ffffff ;
    background-color:rgba(255, 254, 254, 0.918);
    pointer-events: painted; 
    transition: all 600ms ease-in-out;
    
  }
  .icon{
    color:#000;
    transition: all 600ms ease-in-out;
  }
  .btn-search:hover .icon{
    color:rgba(255, 254, 254, 0.918);

  }

  .btn-search:hover{
    background-color:transparent;

  }

  .auto-search{
    margin-top: 25px;
    position: fixed;
    display: none;
    scrollbar-width: none;
    bottom: 10;
    bottom: 4;
    z-index: 60;
    transition:  display  ease 2s;
    padding: 5px 1px;
    max-height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 410px;
    transform: translateX(-50%);
    flex-direction: column;
    border: 1px solid rgba(122, 122, 122, 0.418);
    /* background-color: rgba(168, 168, 168, 0.932); */
    background-color:rgb(243, 243, 243);
    opacity: 0;
    color: #000;
  }
  .input-search:focus ~  .auto-search{
    display: block;
    opacity: 1;
  }
  
 
  .auto-search:hover{
    display: block;
  }
  
  .auto-div{
    text-align: left;
    padding: 1%;
    /* width: 100%; */
    display: flex;
    height: 100px;
    gap: 3px;
    cursor: pointer;
  }
  .auto-title{
    font-weight: bold;
    font-size: .93rem;
    margin-bottom: 8px;
  }
  .auto-div:hover{
    background-color: rgba(0, 0, 0, 0.974);
    color: #fff;
    transition: ease-in-out all .3s;
  }
  .auto-suggest-poster{
    width: 80px;
    height: 100%;
  }
  .auto-suggest-poster img{
    object-fit: contain;
  }
  .auto-suggest-search-more{
    padding: 2% 0;
    width: 100%;
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
  }
  .auto-suggest-search-more:hover{
    background-color: #000;
    transition: ease-in-out all .3s;

  }
  .auto-div .p1{
    display: inline-block;
  }


  @media screen and (max-width:890px) {
    .search-box{
      margin-right: 20px;
    }
    .input-search::placeholder,.input-search,.input-search:focus {
      font-size: 1rem;
      width: 120px;
    }
    .btn-search{
      height: 23px;
    }
    
    .auto-search{
      margin-right:100px;
      width:350px;
      transform: translateX(-70%);
      font-size: 1rem;
    
    }
    .auto-div{
      height: 75px;
    }
    .auto-suggest-poster{
      width: 50px;
    }
  }
  @media screen and (max-width:490px) {
    .logo-outer{
      left: 20px;
    }
    .search-box{
      margin-right: 10px;
      font-size: 1rem;
    }
    .input-search::placeholder,.input-search,.input-search:focus {
      font-size: .9rem;
      width: 100px;
      letter-spacing: 1px;
    }
    .auto-search{
      font-size: .8rem;
      width: 100vw;
    }
    .auto-div{
      margin: 0 15px;
      height: 88px;
      padding: 5px 15px;
    }
    .auto-suggest-poster{
      width: 64px;
    }
  }