.details-container{
    
    
}
.inner-container{
   
}
.moviebanner{
    background-size: cover;
    height: 740px;
    background-position-y: -0px;
    background-color: #12121267;  
    background-blend-mode: multiply; 
} 
.details-container .fade-bottom{  
    height: inherit;
    background-image: linear-gradient(180deg,transparent,rgba(20, 20, 20, 0.849),#111);     
}

.movie-details {
    margin:-290px 20px 0 20px; 
    color: #ffffff;
    z-index: 20;
    display: flex;
    min-height: 500px;
    padding: 20px;

}
.movie-details-info{
    width: 60%;
    padding: 50px ;
}
.movie-details-poster{
    margin:auto;
    text-align: center;
    
}
.movie-details-poster img{
    width: 400px;
}
.movie-details h5{
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
}
.movie-details h1{
    color: #ffffff;
    font-size: 70px;
    margin: 10px;
    
}
.cast-container{
    margin-top: 50px;
}

.cast img{
    width: 100px;
}

.cast-inner-container{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: small;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 9px;
    width: 90%;
    margin-top: 20px;
    
}
.cast{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    padding: 3px;
}
.movie-details-season{
    color: #ffffff;
    font-size: medium;
    padding:50px;
    display: inline-block;
    
}