.details-container{
   
    
}
.inner-container-1{
    color: #fff;
    position: relative;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: auto;
}
.moviebanner{  
   width: 100%;
   height: 100%;
   position:absolute;
} 
.viewbanner img{
    position:absolute;
    top:0;
    opacity: .4;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.view-details-container{
    padding: 15% 0 2% 2%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

}
.back {
    width: min-content;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline:  none;
    display: flex;
    align-items: center;
    padding:0 0 5% 8%;
}
.back h1{
    margin-left: 2%;
    font-size: 1rem;
}
.view-details-wrapper{
    margin: 0 5%;
    width: 90%;
    position: relative;
    display: flex 
}

.view-poster{
    min-width: 200px;
    object-fit: contain;
    max-width: 27%;
    position: relative;   
}
.view-poster img{
    padding: 1% 2% 1% 2%;
    object-fit: contain;
    width: 90%;
    position: relative;
}
.view-details{
    width: 100%;
    padding: 5% 4%;
    flex-direction: column;
    color: #fff;
    margin-top: auto;
}
.view-details .view-name{
    letter-spacing: .1rem;
}
.view-details .tagline{
    font-family: 'Nunito Sans', sans-serif;
    margin: .7%  ;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-style: oblique;
    font-size: 0.8rem;
    font-weight: bolder;
}
.view-details .genres{
    display: flex;
    margin: .1% 0 ;
}
.view-details .genres p{
    margin-right: 1% ;
    padding: 1% 2%;
    background-color: rgba(8, 8, 8, 0.39);
    border-radius: 15px;
    border: .11rem solid #fff;
    font-size: .9rem;
}
.view-details .view-overview{
    padding: 1% 0;
    line-height: 2;
}
.view-details .view-overview label{
    margin: 2% 0;
}
.inner-container-2{
    display: flex;
    padding:2% 5%;
    color: #fff;
    height: 900px;
    height: auto;
}

.view-more-info{
    display: flex;
    flex-direction: column;
    min-width: 30%;
}
.view-more-info div{
    padding:3% 5%;
    margin:.5% 1%;
    
}
.view-cast-creator{
    margin: 5% 2%;
    display: flex;
    flex-direction: column; 
    width: 100%;   
}
.creator{
    display:flex;
    flex-direction: row;
}
.cast{
    display: grid;   
    grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
}
.view-cast-creator img{
    width: 100px;
    border-radius: 5%;
}
.profile-img{
    
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 120px;
    margin: 10px;
}
.inner-container-3{
    padding: 2% 4%;
   
}

@media screen and (max-width:890px) {
    .inner-container-1{
        width: 100%;
    }
 
    .viewbanner {
        top: 0;
        position:absolute;
        height: 500px;
        width: 100%;
        padding: 0;
        object-fit: cover;
    }
    .viewbanner img{
        position: absolute;
        padding: 0;
        object-fit: fill;
        height: auto;    
    }
    .view-details-container{
        padding:22% 0 0 0;
    }
    .view-details-wrapper{
       
        width: auto;
        top: 40%;
        flex-direction: column;
    }
    .view-details{
        padding: 5% 1% 5% 2%;
        gap: 10px;
        margin: auto;
        font-size:xx-small;
    }
    
    .view-details .view-overview{
        letter-spacing: .1em;
        font-size: small;   
        font-weight: lighter;
        
    }
    .inner-container-2{
        flex-direction: column;
    }
    .view-more-info{
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(2,50%);
        justify-content: stretch;
        width: 100%;
    }
    .view-more-info div{
        text-align: start;
        /* margin: auto; */
        margin: 5% 1%;
        width: 200px;
        height: 10%;
    }
    .view-more-info a a:link a:visited{
        color: #fff;    
    }
    .view-more-info h5{
        padding: 1% 0;
    }
    
    .view-cast-creator{
        justify-content: center;
    }
}