.details-container{
   min-height: 100vh;
    
}
.inner-container-1{
    color: #fff;
    position: relative;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: auto;
}
.moviebanner{  
   width: 100%;
   height: 100%;
   position:absolute;
} 
.viewbanner{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 960px;
    /* min-height: 900px; */
    width: 100%;
}
.viewbanner img{
    position:absolute;
    top:0;
    opacity: .4;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.view-details-container{
    padding: 15% 0 0 2%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

}
.back {
    width: min-content;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    transition:  all .2s ease-in;
    display: flex;
    align-items: center;
    margin:0 0 5% 8%;
}
.back:hover{
    transform: translateX(-10%);
}
.back h1{
    margin-left: 2%;
    font-size: 1rem;
}
.view-details-wrapper{
    margin: 0 5%;
    width: 90%;
    position: relative;
    display: flex 
}

.view-poster{
    min-width: 200px;
    object-fit: contain;
    max-width: 27%;
    min-height:  300px;    
    position: relative;   
}
.view-poster img{
    padding: 1% 2% 1% 2%;
    object-fit: contain;
    width: 90%;
    position: relative;
}
.view-details{
    width: 100%;
    padding: 5% 4%;
    flex-direction: column;
    color: #fff;
    margin-top: auto;
}
.view-details .view-name{
    letter-spacing: .1rem;
}
.view-details .tagline{
    font-family: 'Nunito Sans', sans-serif;
    margin: .7%  ;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-style: oblique;
    font-size: 0.8rem;
    font-weight: bolder;
}
.view-details .genres{
    display: flex;
    margin: .1% 0 ;
}
.view-details .genres p{
    margin-right: 1% ;
    padding: 1% 2%;
    background-color: rgba(8, 8, 8, 0.39);
    border-radius: 15px;
    border: .11rem solid #fff;
    font-size: .9rem;
}
.view-details .view-rating{
    margin-top: 1%;
    align-items: center;

}
.view-details .view-rating p{
    align-items: center;

}
.view-details .view-overview{
    font-weight: 200;
    padding: 1% 0;
    line-height: 2;
}
.view-details .view-overview label{
    margin: 2% 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.inner-container-2{
    display: flex;
    padding:2% 5%;
    color: #fff;
    height: 900px;
    height: auto;
}
.inner-container-2 h5{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1%;
}

.view-more-info{
    display: flex;
    flex-direction: column;
    min-width: 30%;
}
.view-more-info div{
    padding:5% 5%;
    margin:.5% 1%;
    
}
.view-more-info p{
    padding: 1%;

}
.view-cast-creator{
    margin: 5% 2%;
    display: flex;
    flex-direction: column; 
    width: 100%;   
}
.inner-container-3{
    padding: 2% 4%;  
}

@media screen and (max-width:890px) {
    .inner-container-1{
        width: 100%;
    }
 
    .viewbanner {
        top: 0;
        position:absolute;
        height: 500px;
        width: 100%;
        padding: 0;
        object-fit: cover;
    }
    .viewbanner img{
        position: absolute;
        padding: 0;
        object-fit: fill;
        height: auto;    
    }
    
    .view-details-container{
        padding:22% 0 0 0;
    }
    .view-details-wrapper{
        width: auto;
        top: 40%;
        flex-direction: column;
    }
    .view-poster{
        height: 170px;
    }
    .view-details .view-rating {
        align-items: center;
        font-size: medium;
    }
    .view-details{
        padding: 5% 1% 5% 2%;
        gap: 20px;
        margin: auto;
        font-size:xx-small;
    }
    .view-details .genres{
        margin: 10px 0 ;
    }
    
    .view-details .view-overview{
        letter-spacing: .1em;
        font-size: small;   
        font-weight: lighter;
        
    }
    .inner-container-2{
        flex-direction: column;
    }
    .view-more-info{
        display: grid;
        grid-template-columns: repeat(2,50%);
        justify-content: stretch;
        width: 100%;
    }
    .view-more-info div{
        text-align: start;
        margin: 5% 1%;
        width: 200px;
        height: 10%;
    }
    .view-more-info a a:link a:visited{
        color: #fff;    
    }
    .view-more-info h5{
        padding: 1% 0;
    }
    
    .view-cast-creator{
        justify-content: center;
    }
}
@media screen and (max-width:490px) {
    .back{
        margin-top:15px
    }
}

