.search-view-container{
    margin-top: 40px;
    /* overflow-y: hidden; */
}
.search-view-inner{
    /* padding: 1% 2%; */
    margin: 10% 2% ;
}
.search-header{
    margin: 2% 4%;
}

.search-tab{
    padding-bottom: 3px;
    margin: 1% 4% 5% 4%;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgba(182, 182, 182, 0.205);
}
.search-tab p:hover{
    cursor: pointer;
    background-color: rgba(214, 214, 214, 0.966);
    transition: ease-in-out all .7s;
    color: #000;
}
.active-tab {
    background-color: rgba(214, 214, 214, 0.966);
    transition: ease-in-out all .7s;
    color: #000;
}
.search-tab p{
    margin-right: .5%;
    padding: .6% 3%;
    border: 1px solid rgba(214, 214, 214, 0.815);
}
.search-grid-wrapper{
    margin: auto;
    display: grid;
    justify-items: center;
    justify-content: center;
    max-width: 1200px;
    min-height: 100vh;
    grid-template-columns: repeat(5,20%) 
}
.card-search {  
    margin: 5% 2%;
    padding: 0 2%;
}
.card-poster{
    cursor: pointer;
    height: 250px;
    width: 150px;
}
.card-name p{
    font-size: .9rem;
}
.card-name p1{
    font-size: .7rem;
}
.img-poster{
    width: 100%;
}
.pagination-outer{
    width: 50%;
    margin: 10% auto;
}
.pagination{
    margin: 15px auto;
    display: flex;
    color: #000;
    list-style: none;
    justify-content: center;
    outline: none;
}

.pagination > .active > a{
    background-color: #ffffff ;
    border-color: #ffffff ;
    color: rgb(0, 0, 0);
}
.pagination > li > a{
    border: 0.1px solid #ffffff ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.pagination > li > a:hover{
    background-color: #333333;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #ffffff ;
    border-color: #ffffff;
    outline: none ;
}
.pagination > li > a, .pagination > li > span{
    color: #ffffff
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
}

@media screen and (max-width:890px) {
    .search-view-container{
            margin-top: 20%;
            font-size: medium;
    }
    .search-header{
        padding: 2% 0 ;
    }
    .search-tab p{
        width: 80px;
        text-align: center;

    }
    .search-grid-wrapper{
        margin:0 1%;
        justify-content: space-around;
        grid-template-columns: repeat(3,20%);
    }
    .card-poster{
        width: 120px;
        height: 210px;
    }
}
@media screen and (max-width:500px) {
    .search-grid-wrapper{
        grid-template-columns: repeat(2,20%);
    }
    .search-view-container{
        margin-top: 20%;
        font-size: small;
    }
    .search-header{
    padding: 2% 0 ;
    }
    .search-grid-wrapper{
        margin:0 1%;
        justify-content: space-around;
        grid-template-columns: repeat(2,20%);
    }
    .card-poster{
        width: 120px;
        height: 210px;
    }
}

