/* .banner-container{
    height: 90vh;
    width: 100%;
}

.banner-content{
    object-fit: contain;
    position: relative;
    height: 90vh;
    width: 100%;    
}


.banner-details{
    position: absolute;
    bottom: 0;
    padding: 10% 3% 4% 4%;
}
.banner-backdrop{
    position: absolute;
    object-position: center;
    width: 100%;
    height: 100%;
}
.banner-backdrop img{
    opacity: 0;
    object-fit: contain;
    cover to fill 
    height: 100%;
} 
@media screen and (max-width:890px) {
    .banner-content{
        background-position: center;
    }
    .banner-backdrop img{
        object-fit: cover;
    }
} */

