.banner{
    min-height: 600px;
    max-height: 80vh;
    /* min-height: 70vh;
    max-height: 1300px; */
    
}
.banner-skl{
    height: 100vh;
    position: relative;
    width: 100%;
}
.banner-skl-content{
    min-width: 300px;
    position: absolute;
    padding:10% 5%;
    bottom: 0;
    left: 0;
}

.banner-content{
    /* opacity: .6;
    object-fit: contain;
    position: relative; */
    /* height: 85vh; */
    position: relative;
    max-height: 80vh;
    width: 100%;    
    
    
}
.banner-backdrop{
    height: 100%;
    /* height: auto; */
}
.banner-backdrop img{
    opacity: 0.4;
    object-position: top;
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.banner-details{
    z-index: 30;
    cursor: default;
    position: absolute;
    bottom: 0;
    text-align: left;
    font-size: .9rem;
    padding: 0 50% 9% 6%;
}

.banner-details button{
    margin-top: 4%;
    color: #fff;
    background-color: transparent;
    cursor: pointer;    
    padding: 1.2% 3.4%;
    border: 1px solid;
}
.banner-details button:hover{
    background-color: #000;
    transition: ease-out all .5s;
}

.fade-bottom{
    z-index: 29;
    position: absolute;
    bottom: 0;
    height: 15%;
    width: 100%;
    background-image: linear-gradient(180deg,transparent,rgba(20, 20, 20, 0.849),#111);  
} 
.carousel.carousel-slider .control-arrow {
	top: 50%;
	color: #fff;
	font-size: 26px;
	bottom: 0;
    height: 20%;
	margin-top: 0;
	padding: 5px;
}
.slick-slider{
    height: 80vh;

}
.slick-list{
    height: 100%;
}
@media screen and (max-width:890px) {
    .banner{
        min-height: 70vh;
        font-size: 1rem;
    }
    .banner-skl{
        height: 70vh;
    }
    .banner-skl-content{
        padding-bottom: 20%;
    }
    /* .slick-list{
        max-height: 600px;
    } */
    .banner-content{
        /* background-position-y: center; */
        height: 65vh;
        background-position: center;
    }
    .banner-details{
        align-items: flex-start;
        /* text-align:start; */
        width: 90%;
        padding: 0% 10% 10% 10% ;
        margin-right: 3%;
    }
    .fade-bottom{

        height: 12%;
    }
}